@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject Services.HttpService Http
@using Sotsera.Blazor.Toaster
@using Burikaigi.Shared
@using Burikaigi.Client.Components

<div class="page">
    @if (_validUser)
    {
        <div class="sidebar">
            <NavMenu />
        </div>

        <main>
            <article class="content px-4">
                <ToastContainer />
                <Loading />
                @Body
            </article>
        </main>
    }
</div>

@code {
    bool _validUser;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        var user = await Http.GetFromJsonAsync<UserInfo>("/accountapi/user");
        if (user != null)
        {
            _validUser = true;
            StateHasChanged();
            return;
        }

        NavigationManager.NavigateTo("/login");
    }
}
