@page "/Login"
@inject Services.HttpService Http
@inject NavigationManager NavigationManager
@using Burikaigi.Shared
@layout EmptyLayout

<PageTitle>Login</PageTitle>
<div>
    <form @onsubmit="OnLogin" @onsubmit:preventDefault="true">
        <img src="https://connpass-tokyo.s3.amazonaws.com/thumbs/6e/e1/6ee144801b1e5221410445f7e824b669.png"/>
        <div>
            ユーザーID<input @bind=id type="text" style="width:300px" class="form-control" />
        </div>
        <div>
            パスワード<input @bind=password type="password" style="width:300px" class="form-control" />
        </div>
        <div>
            <input @bind=isPersistent type="checkbox" /> Remember me?
        </div>
        <button type="submit" class="btn btn-primary">
            ログイン
        </button>
    </form>
</div>

@code {
    string? id;
    string? password;
    bool isPersistent;

    async Task OnLogin()
    {
        await Http.PostAsJsonAsync("/account/login", new LoginData { Id = id, Password = password, IsPersistent = isPersistent });
        NavigationManager.NavigateTo("");
    }
}
